---
import AdminBuyOrderContainer from "@/components/admin/orders/buy-orders/AdminBuyOrderContainer";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Buy Orders | Admin | Pickup Korea"
  currentRoute="/account/admin/buy-orders"
  isAdmin
>
  <main class="w-full max-h-[600px] h-[600px]">
    <AdminBuyOrderContainer client:load />
  </main>
</MainLayout>
