---
import MainLayout from "@/layouts/MainLayout.astro";
import AdminSingleBuyOrderContainer from "@/components/admin/orders/buy-orders/single-order/AdminSingleBuyOrderContainer";

const { orderId } = Astro.params;

if (!orderId) {
  return Astro.redirect("/account/admin/buy-orders");
}
---

<MainLayout
  title="Order | Buy Orders | Admin | Pickup Korea"
  currentRoute="/account/admin/buy-orders"
  isAdmin
>
  <main class="w-full px-4">
    <AdminSingleBuyOrderContainer orderId={orderId} client:load />
  </main>
</MainLayout>
