---
import PFOrderForm from "@/components/order-forms/PFOrderForm";
import MainLayout from "@/layouts/MainLayout.astro";
import { getCountries, getShippingMethods } from "@/lib/db-funcs/get-functions";
export const prerender = false;

const countries = await getCountries();
const shippingMethods = await getShippingMethods();
---

<MainLayout
  title="Package Forwarding Order | Pickup Korea"
  currentRoute="/account/submit-order/pf-order"
>
  <main class="min-h-screen py-16 px-4 max-w-7xl mx-auto w-full">
    <h1 class="text-4xl font-bold text-center">Package Forwarding Order</h1>

    <PFOrderForm
      client:load
      countries={countries}
      shippingMethods={shippingMethods}
    />
  </main>
</MainLayout>
