@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 0% 100%;
    --foreground: 40 0% 10%;
    --card: 40 0% 100%;
    --card-foreground: 40 0% 15%;
    --popover: 40 0% 100%;
    --popover-foreground: 40 95% 10%;
    --primary: 40 93.5% 57.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 2 10% 95%;
    --muted-foreground: 40 0% 40%;
    --accent: 2 10% 90%;
    --accent-foreground: 40 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 40 0% 100%;
    --border: 40 20% 82%;
    --input: 40 20% 50%;
    --ring: 40 93.5% 57.6%;
    --radius: 1rem;
  }
  .dark {
    --background: 40 10% 10%;
    --foreground: 40 0% 100%;
    --card: 40 0% 10%;
    --card-foreground: 40 0% 100%;
    --popover: 40 10% 5%;
    --popover-foreground: 40 0% 100%;
    --primary: 40 93.5% 57.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 40 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 2 10% 25%;
    --muted-foreground: 40 0% 65%;
    --accent: 2 10% 25%;
    --accent-foreground: 40 0% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 40 0% 100%;
    --border: 40 20% 50%;
    --input: 40 20% 50%;
    --ring: 40 93.5% 57.6%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border break-keep;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Noto Sans", sans-serif;
  }
  /* global.css */

  /* Text Styles */
  .font-titles {
    @apply font-bold text-[2.35rem] md:text-[2.8875rem];
  }

  .font-sub-large-texts {
    @apply text-[1.5em] md:text-[1.5rem];
  }

  .font-sub-texts-2 {
    @apply text-[1rem] md:text-[1.125rem];
  }

  .font-sub-texts {
    @apply text-[0.85rem] sm:text-[1.125rem];
  }

  .text-list-ex {
    @apply text-[0.75rem] leading-[1.5] text-left mt-3 sm:text-[1.125rem] md:text-[1.5rem];
  }

  .text-list-ems {
    @apply text-[0.75rem] leading-[1.5] text-left mt-3 font-normal sm:text-[1.125rem] md:text-[1.5rem];
  }

  .title-medium-ex {
    @apply text-[1.5rem] font-bold leading-[1.25] text-left mb-[2.0625rem] sm:text-2xl md:text-3xl lg:text-[1.875rem];
  }

  .title-medium-ems {
    @apply text-[1.5rem] font-bold leading-[1.25] text-left mb-[2.0625rem] sm:text-[1.88rem] md:text-[2rem] lg:text-[1.875rem];
  }

  .heading {
    @apply text-[1.125rem] sm:text-[1.875rem] leading-[1.5rem] sm:leading-[2.554rem] font-bold text-center;
  }

  .subtext {
    @apply text-[1.125rem] sm:text-[1rem] lg:text-[1.125rem] leading-[1.5rem] sm:leading-[1.25rem] lg:leading-[1.532344rem] text-left;
  }

  .steps-list {
    @apply text-[1rem] font-bold leading-[1.02140625rem] text-center;
  }

  /* Container Styles */
  .container {
    @apply max-w-5xl mx-auto;
  }

  .section-container-ex {
    @apply w-full max-w-[80rem] p-9 pt-[4.5rem] px-6 pb-[4.5rem] mx-auto gap-6 sm:pt-[4.5rem] sm:px-12 sm:pb-[4.5rem] md:px-24 lg:px-24;
  }

  .section-container-ems {
    @apply max-w-[80rem] p-9 pt-[4.5rem] px-6 pb-[4.5rem] mx-auto gap-6 sm:pt-[4.5rem] sm:px-12 sm:pb-[4.5rem] md:px-24 lg:px-24;
  }

  .section-container-sr {
    @apply py-9 sm:py-[4.5rem] w-full flex flex-col justify-center items-center px-4;
  }

  .container-primary {
    @apply bg-primaryBeige p-3 sm:p-[4.5rem] rounded-3xl w-full max-w-[51.875rem] mx-auto flex flex-col justify-start my-9 sm:my-[4.5rem];
  }

  /* Layout and Flex Styles */
  .flex-center {
    @apply flex items-center justify-center;
  }

  .placement {
    @apply flex flex-col items-center w-full h-auto gap-[0.75rem] list-none;
  }

  /* Background Styles */
  .bg-gray-section {
    @apply w-full bg-primaryGray;
  }

  /* Miscellaneous Styles */
  .article-text {
    @apply text-base sm:text-xl text-left max-w-[90%] sm:max-w-[62.5rem] mx-auto px-4 sm:px-20;
  }

  .image-loc {
    @apply mt-[0.9375rem] relative gap-0;
  }

  .dotted-border {
    @apply flex-1 border-b-2 sm:border-b-4 border-dotted border-black [@media(max-width:389px)]:hidden;
  }

  #logout-button {
    @apply lg:text-xl font-semibold;
  }

  #account-link {
    @apply lg:text-xl font-semibold;
  }

  #login-link {
    @apply lg:text-xl font-semibold;
  }

  #register-link {
    @apply lg:text-xl font-semibold;
  }

  .multi-truncate {
    @apply [-webkit-line-clamp:3] [-webkit-box-orient:vertical] overflow-hidden [display:-webkit-box];
  }
}
