---
import MainContainer from "@/layouts/MainContainer.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import AdminSingleShippingInvoice from "@/components/admin/payments/AdminSingleShippingInvoice";
import { getInvoiceNumber } from "@/lib/db-funcs/get-functions";
import AdminShippingInvoiceControlButtons from "@/components/admin/payments/AdminShippingInvoiceControlButtons";
export const prerender = false;
const invoiceId = Astro.params.invoiceId;

if (!invoiceId) {
  return Astro.redirect("/account/admin/payments/shipping-invoices");
}

const invoice = await getInvoiceNumber({
  invoiceId: invoiceId as string,
  invoiceType: "ShippingInvoice",
});

if (!invoice || !invoice.invoiceNumber) {
  return Astro.redirect("/account/admin/payments/shipping-invoices");
}
---

<MainLayout
  title={`${invoice.invoiceNumber} | Shipping Invoices | Payments | Admin | Pickup Korea`}
  currentRoute="/account/admin/payments/shipping-invoices/"
  isAdmin
>
  <MainContainer>
    <h1 class="text-2xl font-bold text-center">
      {"buyOrderId" in invoice && invoice.buyOrderId && "구매주문"}
      {"pfOrderId" in invoice && invoice.pfOrderId && "포워딩주문"}
      {"shippingRequest" in invoice && invoice.shippingRequest && "배송요청"}
      {invoice.invoiceNumber}
    </h1>
    <aside class="max-w-7xl w-full mx-auto mt-12">
      <AdminShippingInvoiceControlButtons invoiceId={invoiceId} client:load />
    </aside>
    <AdminSingleShippingInvoice invoiceId={invoiceId} client:load />
  </MainContainer>
</MainLayout>
