---
import MainLayout from "@/layouts/MainLayout.astro";
import CMSTags from "@/components/badges/CMS_Tags.astro";
import ContentRenderer from "@/components/recursive/ContentRenderer";
const params = Astro.params;
const { id } = params;

const response = await fetch(`http://localhost:3000/api/pages/${id}`);

const data: CMS_Page = await response.json();
---

<MainLayout
  title=" | Shopping Recommendations | Pickup Korea"
  currentRoute="/shopping-recommendations/recommendations"
>
  <main class="py-16 px-4">
    <h1 class="text-4xl font-bold text-center">{data.title}</h1>
    <CMSTags
      tags={data.tags}
      className="mx-auto w-full max-w-xl my-16 justify-center"
    />
    <article class="max-w-7xl mx-auto w-full">
      <ContentRenderer content={data.content} client:load />
    </article>
  </main>
</MainLayout>
