---
import MainContainer from "@/layouts/MainContainer.astro";
import MainLayout from "@/layouts/MainLayout.astro";

return Astro.redirect("/account/admin/buy-orders");
---

<MainLayout title="Admin | Pickup Korea" currentRoute="/account/admin" isAdmin>
  <MainContainer>
    <h1>Admin</h1>
  </MainContainer>
</MainLayout>
