---
import UserCreditTable from "@/components/users/account-info/UserCreditTable";
import MainLayout from "@/layouts/MainLayout.astro";

import { getUserCreditInfo } from "@/lib/db-funcs/get-functions";
import { verifySession } from "@/lib/sessions";

const session = await verifySession(Astro.cookies);

if (!session || !session.userId) {
  return Astro.redirect("/login");
}

const creditInfo = await getUserCreditInfo(session.userId);
---

<MainLayout title="Credits | Pickup Korea" currentRoute="/account/credits">
  <main class="min-h-screen py-16 max-w-7xl w-full mx-auto">
    <h1 class="text-4xl font-bold text-center">Credits</h1>
    <h2 class="text-2xl font-semibold text-center mt-6">
      Your current credit balance is
      <br />
      {creditInfo?.creditAmount.toLocaleString()}
      KRW
    </h2>
    {
      creditInfo?.creditHistory && creditInfo?.creditHistory.length > 0 ? (
        <UserCreditTable
          client:load
          creditHistory={creditInfo?.creditHistory}
        />
      ) : (
        <p class="text-gray-500 mt-12 text-center">No credit history</p>
      )
    }
  </main>
</MainLayout>
