---
import MainLayout from "@/layouts/MainLayout.astro";
import EMSRateTable from "@/assets/ems-rates.png";
import KPacketRateTable from "@/assets/k-packet-rates.png";
import { Image } from "astro:assets";

export const prerender = true;
---

<MainLayout
  title="EMS & K-packet shipping Rate | Pickup Korea"
  currentRoute="/shipping-rate/ems-kpacket"
>
  <main>
    <section
      class="max-w-[80rem] h-auto top-[13.75rem] px-4 sm:p-24 py-12 gap-8 mx-auto"
    >
      <h1
        class="font-sans text-3xl sm:text-4xl md:text-5xl lg:text-[40px] font-bold leading-tight text-left"
      >
        EMS & K-packet Official Rate Table
      </h1>
      <article class="w-full max-w-[76rem] h-auto p-2 sm:p-8 gap-14">
        <p
          class="w-full max-w-[72rem] mt-4 text-xl sm:text-2xl md:text-3xl lg:text-[32px] font-bold leading-tight text-left"
        >
          ※ The international mail fee below includes additional transportation
          fees and additional handling fees.
        </p>
        <ul class="list-disc pl-4 sm:pl-6 mt-4 sm:mt-14">
          <li
            class="text-base sm:text-lg md:text-xl lg:text-2xl font-normal leading-relaxed text-left mt-4"
          >
            The postage is applied to the higher of the actual weight and volume
            weight of the mail.
          </li>
          <li
            class="list-none text-base sm:text-lg md:text-xl lg:text-2xl font-normal leading-relaxed text-left mt-4 ml-4 sm:ml-8"
          >
            Volume weight (kg): Width (cm) X Length (cm) X Height (cm) / 6,000
          </li>
          <li
            class="text-base sm:text-lg md:text-xl lg:text-2xl font-normal leading-relaxed text-left mt-4"
          >
            The delivery date will take about 3-7 days.
          </li>
          <li
            class="text-base sm:text-lg md:text-xl lg:text-2xl font-normal leading-relaxed text-left mt-4"
          >
            The EMS delivery limit is 30kg mostly, but we handle up to about
            20KG for the safety of the delivery man.
          </li>
          <li
            class="text-base sm:text-lg md:text-xl lg:text-2xl font-normal leading-relaxed text-left mt-4"
          >
            If you want to send small package under 2kg, you can choose
            K-packets. However, the delivery can take about 2-4 weeks.
          </li>
          <li
            class="text-base sm:text-lg md:text-xl lg:text-2xl font-normal leading-relaxed text-left mt-4"
          >
            If you cant find your country in the table below, you can check the
            Rate by clicking the link:
          </li>
        </ul>
        <span
          class="text-base sm:text-lg md:text-xl lg:text-2xl font-normal leading-relaxed text-left inline-block mt-4 ml-1"
        >
          <a
            href="https://ems.epost.go.kr/front.EmsDeliveryDelivery09.postal?langtype=en"
            class="text-blue-500 underline text-wrap break-all"
          >
            https://ems.epost.go.kr/front.EmsDeliveryDelivery09.postal?langtype=en
          </a>
        </span>
      </article>
    </section>
    <div class="w-full bg-primaryBeige">
      <section
        class="w-full max-w-[76rem] h-auto py-12 px-4 sm:py-24 sm:px-8 md:px-16 lg:px-32 gap-0 mx-auto"
      >
        <h2
          class="text-left text-2xl sm:text-3xl md:text-4xl lg:text-[40px] font-bold leading-tight mb-11"
        >
          EMS Rate Table (Unit : KRW)
        </h2>
        <article class="relative overflow-x-scroll">
          <Image
            src={EMSRateTable}
            alt="Service Country Table"
            class="block mx-auto min-w-[62.5rem] min-h-[35rem]"
          />
        </article>
      </section>
    </div>
    <section
      class="w-full max-w-[80rem] h-auto py-12 px-4 sm:py-24 sm:px-8 md:px-16 lg:px-32 gap-8 mx-auto"
    >
      <h2
        class="text-left text-2xl sm:text-3xl md:text-4xl lg:text-[40px] font-bold leading-tight mb-11"
      >
        K-packet Rate Table (Unit: KRW)
      </h2>
      <article class="relative overflow-x-scroll">
        <Image
          src={KPacketRateTable}
          alt="K-packet Rate Table"
          class="block mx-auto min-w-[62.5rem] min-h-[20rem]"
        />
      </article>
    </section>
  </main>
</MainLayout>
