---
import MainLayout from "@/layouts/MainLayout.astro";
import EMSRateTable from "@/assets/ems-rates.png";
import KPacketRateTable from "@/assets/k-packet-rates.png";
import { Image } from "astro:assets";

export const prerender = true;
---

<MainLayout
  title="EMS & K-packet shipping Rate | Pickup Korea"
  currentRoute="/shipping-rate/ems-kpacket"
>
  <main>
    <section class="section-container-ems">
      <h1
        class="font-sans text-[1.5rem] font-bold leading-[1.25] text-left sm:text-3xl md:text-[2.5rem] lg:text-[2.5rem]"
      >
        EMS & K-packet Official Rate Table
      </h1>
      <article class="w-full max-w-[76rem] p-1.5 px-6 gap-[2.625rem]">
        <p
          class="w-full max-w-[72rem] mt-3 text-[1rem] font-bold leading-[1.25] text-left sm:text-[1.5rem] md:text-[1rem] lg:text-[1.5rem]"
        >
          ※ The international mail fee below includes additional transportation
          fees and additional handling fees.
        </p>
        <ul class="list-disc pl-3 sm:pl-4.5 mt-3 sm:mt-10.5">
          <li class="text-list-ems">
            The postage is applied to the higher of the actual weight and volume
            weight of the mail.
          </li>
          <li class="text-list-ems list-none ml-3 sm:ml-6">
            Volume weight (kg): Width (cm) X Length (cm) X Height (cm) / 6,000
          </li>
          <li class="text-list-ems">
            The delivery date will take about 3-7 days.
          </li>
          <li class="text-list-ems">
            The EMS delivery limit is 30kg mostly, but we handle up to about
            20KG for the safety of the delivery man.
          </li>
          <li class="text-list-ems">
            If you want to send small package under 2kg, you can choose
            K-packets. However, the delivery can take about 2-4 weeks.
          </li>
          <li class="text-list-ems">
            If you can't find your country in the table below, you can check the
            Rate by clicking the link:<br /><br />
          </li>
        </ul>
        <a
          href="https://ems.epost.go.kr/front.EmsDeliveryDelivery09.postal?langtype=en"
          class="text-[#3b82f6] underline break-words text-list-ems pl-6"
        >
          https://ems.epost.go.kr/front.EmsDeliveryDelivery09.postal?langtype=en
        </a>
      </article>
    </section>
    <div class="w-full bg-primaryBeige">
      <section class="section-container-ems">
        <h2 class="title-medium-ems">EMS Rate Table (Unit : KRW)</h2>
        <figure class="relative overflow-x-scroll">
          <Image
            src={EMSRateTable}
            alt="Service Country Table"
            class="block mx-auto min-w-[80rem] min-h-[55rem] sm:min-w-[120rem] sm:min-h-[65rem]"
          />
        </figure>
      </section>
      <section class="section-container-ems">
        <h2 class="title-medium-ems">K-packet Rate Table (Unit: KRW)</h2>
        <figure class="relative overflow-x-scroll">
          <Image
            src={KPacketRateTable}
            alt="K-packet Rate Table"
            class="block mx-auto min-w-[52.875rem] min-h-[22rem] sm:min-w-[90rem] sm:min-h-[32rem]"
          />
        </figure>
      </section>
    </div>
  </main>
</MainLayout>
