---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="Buy Order | Pickup Korea"
  currentRoute="/account/submit-order/buy-order"
>
  <main class="flex flex-col items-center justify-start min-h-screen py-16">
    <h1 class="text-4xl font-bold">Buy Order</h1>
  </main>
</MainLayout>
