---
import MainLayout from "@/layouts/MainLayout.astro";
import SignUpForm from "./SignUpForm";
export const prerender = true;
---

<MainLayout title="Sign Up | Pickup Korea" currentRoute="/signup">
  <main class="flex flex-col items-center justify-start min-h-screen py-16">
    <h1 class="text-4xl font-bold">Sign Up</h1>
    <SignUpForm client:load />
  </main>
</MainLayout>
