---
import { cn } from "@/lib/utils";
import type { Href } from "@/types/global";

const links: { label: string; href: Href }[] = [
  { label: "Buy Orders", href: "/account/admin/buy-orders" },
  { label: "PF Orders", href: "/account/admin/pf-orders" },
  { label: "Shipping Requests", href: "/account/admin/shipping-requests" },
  { label: "Payments", href: "/account/admin/payments" },
  { label: "Users", href: "/account/admin/users" },
  { label: "Settings", href: "/account/admin/settings" },
];

interface Props {
  currentRoute?: Href;
}

const { currentRoute } = Astro.props;
---

{
  currentRoute && (
    <nav class="bg-primary">
      <ul class="flex justify-between items-center w-7xl w-full overflow-x-scroll scrollbar-hide h-16 mx-auto text-2xl font-semibold gap-24 px-12">
        {links.map((link) => (
          <li>
            <a
              href={link.href}
              class={cn(
                currentRoute.includes(link.href) ? "text-black" : "text-white",
                "whitespace-nowrap hover:text-black transition-colors duration-300"
              )}
            >
              {link.label}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
