---
import { Image } from "astro:assets";
---

<header class="flex flex-col sm:flex-row sm:px-12 px-4 py-4 items-center h-28">
  <a href="/">
    <Image
      src="/core/logo.svg"
      alt="logo"
      height="50"
      width="250"
      class="sm:flex-1 shrink-[2] scale-75 sm:scale-100"
    />
  </a>
  <div
    class="mx-auto sm:mr-0 sm:ml-auto sm:space-x-12 space-x-4 shrink-0"
    id="auth-links"
  >
  </div>
</header>

<script>
  import { logoutFn } from "@/lib/utils";

  const response = await fetch("/api/auth/get-session", {
    headers: {
      "Content-Type": "application/json",
    },
  });

  if (response.ok) {
    const session = await response.json();
    if (session.userId) {
      const authLinks = document.getElementById("auth-links")!;
      const logoutButton = document.createElement("button");
      const accountLink = document.createElement("a");
      logoutButton.innerText = "Logout";
      logoutButton.id = "logout-button";
      accountLink.href = "/account";
      accountLink.innerText = "Account";
      accountLink.id = "account-link";
      authLinks.appendChild(accountLink);
      authLinks.appendChild(logoutButton);

      logoutButton.addEventListener("click", async () => {
        await logoutFn();
      });
    }
  }

  if (!response.ok) {
    const authLinks = document.getElementById("auth-links")!;
    const loginLink = document.createElement("a");
    const registerLink = document.createElement("a");
    loginLink.href = "/login";
    loginLink.innerText = "Login";
    loginLink.id = "login-link";
    registerLink.href = "/signup";
    registerLink.innerText = "Sign up";
    registerLink.id = "register-link";
    authLinks.appendChild(loginLink);
    authLinks.appendChild(registerLink);
  }
</script>
