---
import { cn } from "@/lib/utils";
import type { Href } from "@/types/global";

const links: { label: string; href: Href }[] = [
  { label: "Home", href: "/" },
  { label: "Service Rate", href: "/service-rate" },
  { label: "Shipping Rate", href: "/shipping-rate" },
  { label: "Order", href: "/order" },
  { label: "Q/A", href: "/faq" },
  { label: "Contact", href: "/contact" },
];

interface Props {
  currentRoute?: Href;
}

const { currentRoute } = Astro.props;
---

{
  currentRoute && (
    <nav class="bg-primary">
      <ul class="flex justify-between items-center w-7xl w-full overflow-x-scroll scrollbar-hide h-16 mx-auto text-2xl font-semibold gap-24 px-12">
        {links.map((link) => (
          <li>
            <a
              href={link.href}
              class={cn(
                currentRoute === link.href ? "text-black" : "text-white",
                "whitespace-nowrap"
              )}
            >
              {link.label}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
