---
import MainLayout from "@/layouts/MainLayout.astro";
import { cmsUrl } from "@/lib/utils";
import qs from "qs";

export const prerender = false;

const query = {
  limit: 1000,
};

const stringifiedQuery = qs.stringify(query, { addQueryPrefix: true });

const response = await fetch(cmsUrl("faq", stringifiedQuery));
const json: CMS_JSONResponse<CMS_FAQ> = await response.json();
---

<MainLayout title="Notice | Pickup Korea" currentRoute="/faq">
  <main
    class="flex flex-col justify-start items-center min-h-[30rem] py-16 px-12"
  >
    <h1 class="page-title text-center">Notice &</h1>

    <section class="flex flex-col gap-4 my-16 w-full max-w-xl">
      {
        json.docs.map((item) => {
          const answer = item.answer.replace(
            /(https?:\/\/[^\s]+)/g,
            '<a href="$1" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">$1</a>'
          );

          return (
            <dl class="flex flex-col gap-2 break-keep">
              <dt class="text-lg font-bold">{item.question}</dt>
              <dd class="text-base whitespace-pre-wrap" set:html={answer} />
            </dl>
          );
        })
      }
    </section>
  </main>
</MainLayout>
